@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 60px;
  background-color: rgb(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 9999;
  transition: all 0.5s;
}
/* 스크롤 될 때 헤더 변경 */
.header.active {
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.1);
}
.header.active .logo {
  background: url(../images/logo.png) no-repeat center;
  background-size: cover;
}
.header.active .gnb > li > a {
  color: #222;
}
.header.active .gnb > li > a > span::after {
  background-color: #222;
}
.logo {
  position: relative;
  width: 125px;
  height: 30px;
  background: url(../images/logo_white.png) no-repeat center;
  background-size: cover;
}

/* 메뉴 */
.gnb {
  width: 100%;
  display: flex;
  gap: 5%;
}

.gnb > li > a {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  
}
.gnb > li > a > span {
  position: relative;
}
.gnb > li > a > span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;

  transition: all 0.5s;
  opacity: 0;
}
.gnb > li > a:hover > span::after {
  opacity: 1;
}

/* 모바일 메뉴 버튼  */
.mbt {
  display: none;
}

/* gnb 모바일메뉴 */
.nav-mb-gnb {
  display: none;
}
